.container-fluid {
	height:100%;
}
.todo-list {
	margin-top: 20px;
	padding: 5px;
	display: inline-table;
	position: relative;
	border: 2px #55a36d solid;
	width: 350px;
}
.todo-list-name {
	position: relative;
	text-align: center;
	background-color: #55c96d;
	margin: 0px;
	padding: 2px;
	color:#343A40;
}
.todo-list-name:hover .icons1{
	display:block;
}
.tasks {
	list-style-type: none;
	padding: 5px;
}
a {
	color: grey;
}
a:hover {
	color: blue;
	text-decoration: none;	
} 
.show:hover .icons {
	display: block;
}
.show {
	padding-right: 45px;
	border-bottom: 1px lightgrey solid;
	position: relative;
}

.icons {
	display: none;
	position: absolute;
	top:0px;
	right: 0px;
}
.icons1 {
	display: none;
	position: absolute;
	right: 5px;
	top: 6px;
}
h5 {
	margin-right:38px;
}
.done {
	opacity:0.5;
	text-decoration: line-through;
}
button.option {
	width:100%;
}
.toggleBtn {
	background: inherit;
	padding: 0;
	color: green;
}
.toggleBtn:hover {
	color:blue;
}
.add-btn {
	float: right;
}
.logo {
	width:40px;
	height: auto;
	margin-right: 15px;
}
#username {
	color: yellow;
}